body{
	position: relative;
	padding-right: 30%;
	padding-left: 20%;
	background-image:url('../images/img_lite.jpg');

	}

.head-con{
	 background-color: rgba(255,255,255,0.3);
	 text-align: center;
	 padding: 2%;
	 border-radius: 15px;
	margin-top: 80px;
	}
h1{
	min-width: 200px;
	padding: 0%;
	}

.slogan{
	font-weight: 700;
	font-size: 22px;
	}
.modate {
	font-size: 20px;
}

.body-box{
	position: relative;

	}
/*
.box{
	min-height: 100%;
	top: 500px;
	border-style: solid;
	border-width: 0px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2%;
	border-radius: 15px;
	}
*/


.row{
	bottom: 300px;
	border-style: solid;
	border-width: 1px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2%;
	border-radius: 15px;
	}

.head-4{
	padding-left: 0%;
	padding-top: 3%;
	}
h3{
	font-size: 22px;
	z-index: 0;
	}

h4{
	padding-left: 5%;
	font-size: 25px;
	z-index: 0;
	}
.nest-first{
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	padding: 2%;
	z-index: 0;
	}

.ui-content{
	z-index: 5;
}

.collapen{
	position: relative;
	top: -10px;
	font-size: 18px;
	}

.linespace{
	height: 20px;
}

.devcred{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 30%;
	padding-left: 10%;
	}

@media screen and (max-width: 980px) {
	body{
		background-image:url('../images/img_lite.jpg');
		padding: 5%;
		padding-top: 2%;
		}

	.head-4{
		padding-left: 20%;
		padding-top: 3%;
		}
	.head-con{
		text-align: center;
		padding: 2%;
		border-radius: 15px;
		margin-top: 20px;
	}

	.devcred{
		border-style: solid;
		border-width: 2px;
		border-color: black;
		margin-top: 5px;
		margin-left: 10%;
		margin-right: 10%;
		background: rgba(255,255,255,0.8);

		padding-left: 10%;
		}

}

/* Menu CSS */

.menu{
	height: 100px;
	width: 50%;
	margin: -7px;
	position: fixed;
	margin-left: 0%;
	margin-top: -80px;
	background-color: #FFE4C4;
	z-index: 3;
	padding-bottom: 40px;
	}

.menu-mini{
	display: none;
}

button{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(	160,82,45,0.8 );
	color: white;
	border-radius: 50px;
	}

button:hover{
	background-color: rgba(	160,82,45,0.3 );
	color: black;
	}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	height: 100%;
}

 th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 2px;
	height:100%;
}




tr:nth-child(even) {
    background-color: #dddddd;
}

#main-menu-mini{
		display: none;
	}

.nav-bar-mobile{
	display: none;
}


@media screen and (max-width: 980px) {
	.menu{
		display: none;
	}


	.menu-mini{
		position: fixed;
		display: block;
		width: 90%;
		height: 50px;
		top: 0;
	}

	#main-menu-mini{
		display: none;
		position: fixed;
		border-radius: 50px;
		width: 90%;
		height: 80%;
		background-image:url('./images/img_wood.jpg');
		z-index: 40;
		background-repeat: no-repeat;

		margin-top: 10%;
		top: 0;
	}

	#overlay{
		position: fixed;
		display: none;
		height: 800px;
		width: 100%;
		z-index: 30;
		top: 0;
		left:0;

		background-color: rgba(	0,0,0,0.8 );
	}

	.nav-bar-mobile{
		display: block;
	}
}
